/* Univerals
====================*/
* {
  margin: 0;
  padding: 0;
}

/* Body
====================*/
body {
  font-family: 'Lora', serif;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  /* overflow: hidden; */
}

/* Header
====================*/
header {
  display: flex;
  flex-direction: row;
  height: 30px;
  background-color: rgb(150, 150, 150);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

header h3 {
  position: fixed;
  top: 5px;
  left: 20px;
  font-size: 16px;
}
.dropdown {
  display: none;
}

.fa-bars {
  display: none;
}

.dropdown-hidden {
  width: 0;
 }

.header-nav {
  position: fixed;
  top: 5px;
  right: 20px;
  z-index: 999;
}

.navList {
  display: flex;
}

.nav-item {
  list-style-type: none;
  margin-left: 30px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.active {
  color: rgba(255, 255, 255, 0.8);
}

.drop-item {
  list-style-type: none;
  margin: 10px;
}

.drop-item a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* Layout
====================*/
main {
  margin-top: 30px;
}

.container {
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: row;
}

.projects {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* About
====================*/
.about-header {
  height: 80vh;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  background-image: url('../images/aaron-bean-446547-unsplash.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.about-header h2 {
  margin: 0 auto;
  padding: 150px;
  font-size: 40px;
  color: rgba(255, 255, 255);
}
#map {
  height: 300px;
  width: 400px;
  margin: 0 20px 10px 0;
}
.map h4 {
  text-align: center;
  margin-bottom: 10px;
}

.about-paragraphs {
  display: flex;
  flex-direction: column;
  margin: 29px 10px;
}
/* Projects
====================*/
.projects-header {
  /* height: 50vh; */
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.projects-container {
  margin: 0 auto;
  border: 2px solid;
  padding: 20px;
}

.carousel-caption h5,
p {
  font-weight: bold;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.carousel-item .git-link {
  visibility: hidden;
}

.carousel-item:hover .git-link {
  visibility: visible;
}

/* Footer
====================*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
  background-color:rgb(150, 150, 150);
}

footer p {
  margin-right: 20px;
}

footer i {
  margin: 0 10px;
  font-size: 20px;
}

/* Media Queries
====================*/
@media only screen and (max-width: 780px) {
  .about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }
  .map {
    margin: 0 auto;
  }

  .info-box p {
    font-size: 13px;
    line-height: 20px
  }

  form {

  }
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }

  .header-nav {
    display: none;
  }
  .fa-bars {
    display: inline;
    position: fixed;
    top: 5px;
    right: 10px;
  }

  .dropdown {
    display: inline;
    position: fixed;
    top: 30px;
    right: 0;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0 0 0 5px;
    transition: width .5s ease;
  }

}

/* Nav Bar inView Highlight
====================*/
.active {
  color: rgb(255, 255, 255);
}
